<html>
<body>

<form action="/add-messages" method="post">
    <input type="text" placeholder="Message" name="messageNameof"/>
    <button type="submit">Add Message</button>
</form>





<ol>
    {{#messages}}
    <li>{{name}}
        <form action="/edit-messages" method="post">
            <input type="text" placeholder="Message" name="editNameof"/>
            <input type="hidden" value={{id}} name="idNameof"/>
            <button type="submit">Edit Message</button>
        </form>
    </li>
    {{/messages}}
</ol>


</body>
</html>